<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huajie.dao.CityDao">
    <resultMap id="cityBase" type="com.huajie.entity.City">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="city_level" jdbcType="INTEGER" property="cityLevel"/>
        <result column="gdp" jdbcType="FLOAT" property="gdp"/>
        <result column="people_num" jdbcType="FLOAT" property="peopleNum"/>
    </resultMap>

    <resultMap id="waterResultMap" type="com.huajie.entity.Water">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="city_id" jdbcType="VARCHAR" property="cityId"/>
        <result column="water_name" jdbcType="VARCHAR" property="waterName"/>
        <result column="clarity" jdbcType="INTEGER" property="clarity"/>
        <result column="mineral" jdbcType="FLOAT" property="mineral"/>
        <result column="organism" jdbcType="FLOAT" property="organism"/>
        <result column="microorganism" jdbcType="FLOAT" property="microorganism"/>
    </resultMap>

    <resultMap id="airResultMap" type="com.huajie.entity.Air">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="city_id" jdbcType="VARCHAR" property="cityId"/>
        <result column="pm" jdbcType="INTEGER" property="pm"/>
        <result column="see" jdbcType="INTEGER" property="see"/>
    </resultMap>

    <resultMap id="cityDetail" type="com.huajie.vo.CityVo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="city_level" jdbcType="INTEGER" property="cityLevel"/>
        <result column="gdp" jdbcType="FLOAT" property="gdp"/>
        <result column="people_num" jdbcType="FLOAT" property="peopleNum"/>
        <collection property="waters" ofType="com.huajie.entity.Water" column="id"
                    javaType="ArrayList" select="getWaterByCityId"/>
        <collection property="airs" ofType="com.huajie.entity.Air" column="id"
                    javaType="ArrayList" select="getAirByCityId"/>
    </resultMap>

    <insert id="insertCity">
        INSERT INTO air(id,city_name,city_level,gdp,people_num) values (
        id = #{city.id},
        city_name = #{city.cityName},
        city_level = #{city.cityLevel},
        gdp = #{city.gdb},
        people_num =#{city.peopleNum}
        )
    </insert>

    <select id="getCityDetail" resultMap="cityDetail">
        select * from city
    </select>

    <select id="getWaterByCityId" resultMap="waterResultMap">
        select * from water w where w.city_id = #{cityId}
    </select>

    <select id="getAirByCityId" resultMap="airResultMap">
        select * from air where city_id = #{cityId}
    </select>
</mapper>