<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huajie.dao.WalterDao">
    <resultMap id="BaseResultMap" type="com.huajie.entity.Walter">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="walter_name" jdbcType="VARCHAR" property="walterName"/>
        <result column="clarity" jdbcType="INTEGER" property="clarity"/>
        <result column="mineral" jdbcType="FLOAT" property="mineral"/>
        <result column="organism" jdbcType="FLOAT" property="organism"/>
        <result column="microorganism" jdbcType="FLOAT" property="microorganism"/>
    </resultMap>

    <select id="findWalter" resultMap="BaseResultMap">
        select * from walter w
        <if test="name2 != null">
            where w.walter_name = #{name2}
        </if>
    </select>

    <select id="findWalter2Param" resultMap="BaseResultMap">
        select w.id,w.walter_name from walter w where w.id = #{arg0} and w.walter_name = #{arg1}
    </select>

    <insert id="insertWalter">
        insert into walter(id,walter_name,clarity,mineral,organism,microorganism) values (
          #{walter.id},
          #{walter.walterName},
          #{walter.clarity},
          #{walter.mineral},
          #{walter.organism},
          #{walter.microorganism}
        );
    </insert>

    <!--separator foreach里面的分割,open close只执行一次,index 从0开始-->
    <insert id="insertWalters">
        insert into walter(id,walter_name,clarity,mineral,organism,microorganism) values
        <foreach collection="walters" item="walter" index="inx" separator="," open="" close="">
            (
            #{inx},
            #{walter.walterName},
            #{walter.clarity},
            #{walter.mineral},
            #{walter.organism},
            #{walter.microorganism}
            )
        </foreach>
    </insert>

</mapper>