<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huajie.dao.WalterDao">
    <resultMap id="BaseResultMap" type="com.huajie.entity.Walter">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="findWalter" resultMap="BaseResultMap">
        select w.id,w.name from walter w where w.name = #{name2}
    </select>

</mapper>