<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>账户安全</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css"/>
    <link rel="stylesheet" th:href="@{/static/lib/foundation/css/foundation-icons.css}"/>
    <link rel="stylesheet" th:href="@{/static/lib/fontawesome/css/font-awesome.css}"/>
</head>
<body>

<div th:replace="base/header_for_no_home :: header_bar"></div>
<div style="background-color: #eeeeee;">
    <div class="row" style="padding: 1rem 0;">
        <div class="medium-2 columns">
            <ul class="vertical menu" style="width: 100%;background-color: white;">
                <li>
                    <a href="#" style="font-size: 0.875rem;cursor: default;">账户设置</a>
                    <ul class="nested vertical menu" style="font-size: 0.75rem;">
                        <li><a th:href="@{/account/basicinfo/personalinfo}">个人信息</a></li>
                        <li><a th:href="@{/account/realinfo/realinfo}">实名认证</a></li>
                        <li><a href="#" style="color: red;">账户安全</a></li>
                        <li><a th:href="@{/teacher/detail}">讲师信息</a></li>
                    </ul>
                </li>
                <li>
                    <a style="font-size: 0.875rem;" th:href="@{/notice/user/list}">我的消息</a>
                </li>
                <li>
                    <a href="#" style="font-size: 0.875rem;cursor: default;">我的课程</a>
                    <ul class="nested vertical menu" style="font-size: 0.75rem;">
                        <li>
                            <a href="/usercenter/operate?type=3">在学课程</a>
                        </li>
                        <li><a href="/usercenter/operate?type=2">已购课程</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/test/answer/list}" style="font-size: 0.875rem;">我的练习</a>
                </li>
                <li>
                    <a href="#" style="font-size: 0.875rem;cursor: default;">我的考试</a>
                    <ul class="nested vertical menu" style="font-size: 0.75rem;">
                        <li><a href="/user/examplan/list">考试日程</a></li>
                        <li><a href="/user/exam/score/list">考试成绩</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="font-size: 0.875rem;cursor: default;">我的收藏</a>
                    <ul class="nested vertical menu" style="font-size: 0.75rem;">
                        <li><a href="/usercenter/operate?type=1">课程收藏</a></li>
                        <li><a href="/usercenter/operate?type=9">题集收藏</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="medium-10 columns">
            <div class="row">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs"
                        style="background-color: white;margin-bottom: 1rem;padding: 0.5rem 0.875rem;font-size: 1.25rem;">
                        <li><a href="#">账户设置</a></li>
                        <li><a th:href="@{/usercenterhome}">账户安全</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row" name="content" style="background-color: white;padding: 2rem 0rem;">
                <form style="color: #000;">
                    <div class="row">
                        <div class="medium-3 columns text-right">
                            <label class="right inline" style="color: #8a8a8a;">旧密码：</label>
                        </div>
                        <div class="medium-3 columns end" style="padding-left: 0;">
                            <input type="password" placeholder="旧密码"
                                   style="color: #000000;height: 2rem;font-size: 0.875rem;"
                                   id="oldPasswd"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-3 columns text-right" style="text-align: right;">
                            <label class="right inline" style="color: #8a8a8a;">新密码：</label>
                        </div>
                        <div class="medium-3 columns end" style="padding-left: 0;">
                            <input type="password" placeholder="新密码"
                                   style="color: #000000;height: 2rem;font-size: 0.875rem;"
                                   id="newPasswd"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-3 columns text-right" style="text-align: right;">
                            <label class="right inline" style="color: #8a8a8a;">新密码确认：</label>
                        </div>
                        <div class="medium-3 columns end" style="padding-left: 0;">
                            <input type="password" placeholder="新密码确认"
                                   style="color: #000000;height: 2rem;font-size: 0.875rem;"
                                   id="reNewPasswd"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-3 medium-offset-3 end">
                            <input type="button" class="button" value="保存" onclick="submit()"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="base/common_js_imports :: commonjs"></div>
<script>
    $(document).foundation();

    function submit(){
        var oldPasswd=$("#oldPasswd").val();
        var newPasswd=$("#newPasswd").val();
        var reNewPasswd = $("#reNewPasswd").val();
        if (oldPasswd.trim() == "" || newPasswd.trim() == "" || reNewPasswd.trim() == '') {
            alert("请输入完整的信息");
            return;
        }

        if (newPasswd != reNewPasswd) {
            alert("两次输入的新密码不同");
            return;
        }

        $.ajax({
            url: '/account/modifypwd',
            type: 'POST',
            data:{
                oldPassword:$.md5(oldPasswd),
                newPassword:$.md5(newPasswd),
                pwdType:1
            },
            success: function( result ) {
                $("#oldPasswd").val("");
                $("#newPasswd").val("");
                    if(result.retCode==1){
                        alert("保存成功");
                    }else{
                        alert(result.message);
                    }
            }
        });
    }

</script>


</body>
</html>