<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="commoncss">
    <title>华杰学习平台</title>

    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css"/>
    <!--
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/foundation/css/foundation.css}"/>
    -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/foundation/css/foundation-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/fontawesome/css/font-awesome.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/public/pagination.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/public/loginform.css}"/>
</div>
</html>