<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:fragment="commonjs">
    <script src="/static/lib/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/lib/jquery/jquery.md5.js"></script>
    <script src="/static/lib/foundation/js/vendor/foundation.js"></script>
    <script src="/static/js/base/register.js"></script>
    <script src="/static/js/base/login.js"></script>
    <script src="/static/js/base/paging.js"></script>
</div>
</html>