<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
<div th:fragment="foot_section" style="background-color: #BCBCBC;padding: 1.5rem 0;">
    <div class="row" style="color:white;font-size: 0.725rem;">
        <div class="medium-12  columns" style="margin-bottom: 1rem;">
            <img th:src="@{/static/image/logo.png}" alt=""/>
        </div>
        <div class="medium-6 columns">
            <span>联系我们</span><br/>
            <span>地址：北京市朝阳区安苑路二十号世纪兴源大厦8层</span><br/>
            <span>邮编：100029</span><br/>
            <span>电话：010-84898688 84897528</span><br/>
            <span>网址：http://www.huajie.com.cn</span><br/>
        </div>
        <div class="medium-6 columns">
            <span>Copyright©华杰工程咨询有限公司 版权所有</span><br/>
            <span>本系统建议使用Chrome或者360浏览器（极速模式）高性能浏览器！</span><br/>
        </div>
    </div>
</div>

</body>
</html>

